@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap');
:root{
  --primary-color:#8257E6;
  --b200:#C4C4C4;
  --branco:#FEFBFB;
  --g200:#282830;
  --dark:#13131F;
  --text1:'Inter', sans-serif;
  --text2:'Lexend Deca', sans-serif;
}